.logo{
    width: 12%;
    margin-left: 10%;
}

/* NAVBAR STYLE */
.nav-link {
    color: #ffff;
}
.nav-item {
    margin-right: 20px;
    font-size: 17px;
    color: #ffff;
}
.nav-item:hover {
    color: #2c8a8a;
}

/* BTN STYLE */
#btn-search {
    margin : 0 0 0 15px;
    border-color: #2c8a8a !important;
    color: #2c8a8a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn-search:hover {
    background-color: #2c8a8a !important;
    color: #ffff;
}

/* CAROUSSEL STYLE */
*{box-sizing : border-box}

img{max-width:100%}

.contenu_carou_auto{
margin:2rem auto;
width:420px;
height:279px;
perspective:8000px
}
.caroussel-image{
animation:rotation 24s infinite alternate linear;	
transform-style:preserve-3d;
position:relative;	
}
.caroussel-image img{
position: absolute;
top:0;
left: 0;
}	
.caroussel-image img{	
filter:drop-shadow(0 12px 5px hsla(0,0%,0%,.4));
width:400px;
height:266px;
left:10px;
outline:1px solid transparent;
backface-visibility:hidden
}
.caroussel-image img:nth-child(1){
	transform:translate3d(0,0,495px)		
}		
.caroussel-image img:nth-child(2){
	transform:rotateY(45deg) translateZ(495px)
}		
.caroussel-image img:nth-child(3){
	transform:rotateY(90deg) translateZ(495px)
}	
.caroussel-image img:nth-child(4){
	transform:rotateY(135deg) translateZ(495px)
}	
.caroussel-image img:nth-child(5){
	transform:rotateY(180deg) translateZ(495px)
}	
.caroussel-image img:nth-child(6){
	transform:rotateY(225deg) translateZ(495px)
}	
.caroussel-image img:nth-child(7){
	transform:rotateY(270deg) translateZ(495px)
}	
.caroussel-image img:nth-child(8){
	transform:rotateY(315deg) translateZ(495px)
}	
@keyframes rotation{
from{transform:rotatey(0)}
to{transform:rotatey(0.5turn)}}
/* FIN CAROUSSEL */


/* FOOTER STYLE */
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #2c8a8a;
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #2c8a8a;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #2c8a8a;
    padding: 13px 20px;
    border: 1px solid #2c8a8a;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #2c8a8a;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #2c8a8a;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* STYLE POUR LES CARDS */
.btn-color-product-buy {
    background-color: #2c8a8a !important;
    color: #ffff !important;
    border-color: #2c8a8a !important;    
}
.btn-color-product-buy:hover {
    background-color: #2c8a8a !important;
}
.card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition: ease-in-out 200ms ;
}


/* STYLE POUR LES POPUPS */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.popup-message {
  margin-bottom: 10px;
}
.popup-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


/* mettre .description à droite de .image-produit */

.image-produit {
    float: left;
    margin-right: 50px;
    width: 400px!important;
}
.description {
    margin-left: 50px;
    margin-top: 20px;
    width: 500px;
}
.name-prod {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.price-prod {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

#btn-add {
  margin-bottom: 20px;
  background-color: #2c8a8a !important;
  color: #ffff !important;
  border-color: #2c8a8a !important;    
}
#btn-add:hover {
  scale: 1.1;
  transition: ease-in-out 100ms;
}